{% extends 'base.html' %}

{% block content %}
    <h2>Product List</h2>

    <div class="product-container">
        {% for product in products %}
            <div class="product-card">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
                <h3 class="product-name">{{ product.name }}</h3>
                <p class="product-description">{{ product.description|truncatewords:20 }}</p>
                <p class="product-price">${{ product.price }}</p>
                <a href="{% url 'add_to_cart' product.id %}" class="btn">Add to Cart</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
